# [Question 1](https://projecteuler.net/problem=1)

If we list all the natural numbers below $10$ that are multiples of $3$ or $5$, we get $3, 5, 6$ and $9$. The sum of these multiples is $23$.<br>
Find the sum of all the multiples of $3$ or $5$ below $1000$.<br>

# Solution

## Solution 1

In [1]:
def one_to_n_sum(n):
    '''Ref: https://en.wikipedia.org/wiki/1_%2B_2_%2B_3_%2B_4_%2B_%E2%8B%AF
    The sum from one to n is defined as
    S(n) = 1 + 2 + 3 + ... + n
    Using n*(n+1)//2 seems to be quicker than int(n*(n+1)/2) since it does not involve handing float numbers
    '''
    return n*(n+1)//2

In [2]:
def solution1():
	return (3*one_to_n_sum(999//3) 
		  + 5*one_to_n_sum(999//5) 
		 - 15*one_to_n_sum(999//15))

## Solution 2

In [3]:
def solution2():
    return sum(n for n in range(1000) if (n%3==0) or (n%5==0))

# Run

In [4]:
%%time
solution1()

CPU times: total: 0 ns
Wall time: 0 ns

233168

In [5]:
%%time
solution2()

CPU times: total: 0 ns
Wall time: 0 ns

233168